<div class="d-flex vh-100 bg-light overflow-hidden">

    <!--  Barra lateral  -->

    <aside class="bg-white border-end d-flex flex-column sidebar-fija flex-shrink-0" style="width: 260px; height: 100vh; position: sticky; top: 0;">

        <div class="ps-4 pt-3 pe-4 d-flex align-items-center">
            <header class="logo">
                <img ngSrc="/assets/logo.png" alt="UTEQ" class="img-fluid" height="143" width="679"/>
            </header>
        </div>

        <nav class="nav flex-column p-3 flex-grow-1 overflow-auto">
            <a class="nav-link text-secondary mb-2" routerLink="">
                Inicio</a>
            <a class="nav-link text-secondary mb-2" routerLink="/coordinacion/tramites">
                Tramites</a>
            <a class="nav-link text-secondary mb-2" routerLink="">
                Solicitudes</a>
            <a class="nav-link text-secondary mb-2" routerLink="">
                Notificaciones</a>
        </nav>

        <div class="p-3">
            <div class="d-flex align-items-center">

                <!-- Banner con iniciales del usuario -->

                <div class="bg-secondary rounded-circle d-flex align-items-center justify-content-center text-white fw-bold" style="width: 35px; height: 35px;">
                    {{ obtenerInicialesUsuarioActual()}}
                </div>

                <!-- Banner con nombre y rol del usuario  -->

                <div class="lh-1 text-start ms-3">
                    <h6 class="mb-1 fw-bold text-dark">
                        {{ obtenerNombreUsuarioActual() }}
                    </h6>
                    <small class="text-muted text-capitalize">
                        {{ usuarioActual?.rol }}
                    </small>
                </div>
            </div>
        </div>
    </aside>

    <!--  Barra superior  -->

    <div class="d-flex flex-column flex-grow-1 overflow-hidden">

        <main class="flex-grow-1 p-4 overflow-auto">
            <router-outlet></router-outlet>
        </main>

    </div>

</div>

<!-- Chatbot IA flotante -->
<app-ai-chat [config]="chatbotConfig"></app-ai-chat>
