*{
    font-size: 0.95rem;
}

.page{
    position: relative;
    min-height:100dvh;
    overflow: hidden;
}

.bg {
    inset:0;
    background-image: url('/assets/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card{
    background-color: white;
    width: 400px;
    border-radius: 20px;
}

.btn{
    padding: 10px;
}

.form-control::placeholder{
    font-weight: 300;
}

.btn-success{
    background-color:#068c32;
}

.form-control:focus {
    border-color: #198754;
    box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
}

a:hover {
    color: #198754 !important;
    text-decoration: underline !important;
}

.form-check-input {
    width: 3rem;
    height: 1.5rem;
    margin-top: 0;
    cursor: pointer;
    margin-right: 15px;
}

.form-check-label {
    font-size: 1.25rem;
    padding-top: 5px;
    cursor: pointer;
}
